#menu_tab
  %ul.menu
    %li
      = link_to 'Home', root_path, class: 'nav'
    %li.divider
    %li
      = link_to 'Products', '#', class: 'nav'
    %li.divider
    %li
      = link_to 'Categories', '#', class: 'nav'
    %li.divider
    %li
      = link_to 'Contact Us', '#', class: 'nav'
    %li.divider
    %li
      = link_to 'Details', '#', class: 'nav'