.prod_box_big
  .center_prod_box_big
    .product_img_big
      = image_tag(@product.image.present? ? @product.image_url : 'image_not_available_big.gif', width: 175, height: 175)
    .details_big_box
      .product_title_big #{@product.name}
      .specifications
        Warranties:
        %span.blue
          24 months
        %br
        Transport:
        %span.blue
          Delivery services company
        %br
        Description:
        %span.blue
          #{@product.description}
        %br
      .prod_price_big
        %span.price #{build_currency(@product.price)}
      = link_to 'Add to cart', add_to_cart_product_path(@product), method: :post, remote: true, class: 'prod_buy'