.center_title_bar Cart
.prod_box_big
  - unless @cart_items.blank?
    = link_to 'Clear Cart', clear_cart_products_path, method: :post, remote: true
    - @cart_items.each do |item, amount|
      .center_prod_box_big{class: "product_id_#{item['id']}"}
        .remove
          = link_to 'X', remove_from_cart_product_path(item['id']), method: :post, remote: true
        .product_image
          = image_tag(item['img_url'].nil? ? 'image_not_available_big.gif' : item['img_url'], width: 100, height: 100)
        .product_title
          = link_to item['name'], product_path(item['id']), remote: true
          %br
          %br
          .item_price #{build_currency(item['price'])}
        .total
          = link_to '+', add_to_cart_product_path(item['id'], count: 'increase'), method: :post, remote: true
          .amount #{amount}
          = link_to '-', remove_from_cart_product_path(item['id'], count: 'decrease'), method: :post, remote: true
          %br
          Total:
          %br
          %span.price #{build_currency(item['price'] * amount)}
    = link_to 'Buy Now', new_order_path, class: 'prod_compare'
    .all_total
      All Total: 
      %span.product_title.all_total_text #{build_currency(fetch_cart_details.last)}
  - else
    .center_prod_box_big Your cart is empty.